@using Microsoft.AspNetCore.Identity
@using Notes.Models

@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Inicio";
}

<h3 class="text-center text-success mt-3">¡Hola @UserManager.GetUserName(User)!</h3>

<div class="row mt-5">
    <div class="col-md-6">
        <h4>Notas</h4>
        <p>Una nota es un texto situado en la parte inferior de una página en un 
        libro o documento (nota al pie), al final de un capítulo, volumen o todo el texto 
        (a veces incluso en un tomo específico) o, en su caso, al pie de un cuadro o tabla. 
        Según el diseño de la obra podría ir en otras partes, como en el margen izquierdo o derecho.</p>
    </div>
    <div class="col-md-6 text-center">
        <img src="~/images/notes.jpg" width="55%" />
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-6 text-center">
        <img src="~/images/pc.jpg" width="54%" />
    </div>
    <div class="col-md-6 text-right">
        <h4>Computadora</h4>
        <p>
            La computadora, ese equipo indispensable en la vida cotidiana de hoy en 
            día que también se conoce por el nombre de computador u ordenador, es una máquina
            electrónica que permite procesar y acumular datos. El término proviene del latín computare
            (“calcular”).
        </p>
       
    </div>
</div>
