@model System.Collections.Generic.List<RegisterViewModel>

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Edit</h2>

<h4>User</h4>
<hr />
<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="First().Id" />
                <div class="form-group">
                    <label asp-for="First().Username"></label>
                    <input asp-for="First().Username" class="form-control" />
                    <span asp-validation-for="First().Username" class="text-danger"></span>
                </div>
                <div class="form-group">

                    <label asp-for="First().RoleId" class="control-label"></label><br />
                    <label class="control-label">Role Current: </label>
                    <input asp-for="First().Role" class="form-control" value="@Model[0].Role" readonly/>
                    <select asp-for="First().RoleId" class="form-control" asp-items="ViewBag.Roles"></select>
                </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
